.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .footerWrapper {
    .footerContent:nth-child(1){
      font-weight: 900;
    }
    .footerContent {
      width: 100%;
      color: $shadow-grey;
      display: block;
      font-family: 'Roboto';
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.7px;
    }
  }
}