.cache
.DS_Store
/build
/node_modules
/nbproject
/src/.DS_Store
.idea

/platforms
/plugins
/www

#awsmobilejs
appsync-info.json
aws-info.json
project-info.json
aws-exports.*
aws-exports-sis.*
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/
/awsmobilejs
/dist
/UnityBuild
/TemplateData
amira.env
*.pem