.helpButton {
  padding: 32px 0 0 0;
  .helpButtonLink {
    display: flex;
    align-items: flex-end;
    color: $dark-text-grey;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1;
    cursor: pointer;
    text-decoration: none;
    .helpButtonIcon {
      padding: 0 6px 0 0;
      color: $dark-text-grey;
    }
  }
}